html, body {
	height: 100%;
	margin: 0;
	box-sizing: border-box;
}
body {
	text-align: center;
	font-family: Helvetica;
	margin: 0;
}
.container {
	flex: 1;
	color: white;

}
.background-image {
	background-image: linear-gradient(rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.3) 50%), 
						url("image.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	display: flex;	
	align-items: center;
	vertical-align: center;
}